.g{
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}

.g-left{
    flex: 1;
    padding:50px;
   
}

.g-right{
    flex: 1;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
  
}

.g-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: absolute;
    overflow: hidden;
}

.g-card.bg{
    background-color: rgb(19, 79, 120,0.25);
    position: absolute;
    top:50px;
    right:50px;
   
}

.g-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.g-sub{
    font-family: 'Poppins', sans-serif;
    margin: 20px 0px;
}

.g-title{
    font-weight: 400;
    font-size: 50px;
}

li{
    list-style: none;
}

.g-company{
    margin-top: 50px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.g-company-img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.g-company-texts{
    width: 70%;;
}
.g-company-title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.g-company-desc{
    font-family: 'Poppins', sans-serif;
    
}

@media screen and (max-width:768px) {
    .g{
      flex-direction: column;
      text-align: center;
     
    }

    .g-right{
      width: 100%;
    }

    .g-title{
        font-size: 36px;
    }

    .g-card {
      height: 30vh;
      display: none;
    }

    .g-card.bg {
      display: none;
    }

    .g-company{
        width: 100%;
    }

    .g-company-desc{
        margin-right: 0px;

    }

    .g-company-role-wrapper{
       display: block;
    }

    .g-left{
      padding: 20px;
     
    }
}